# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
.cache/
public/
static/assets/instagram
.DS_Store
.env
*.log

src/css/output.css
