@import './variables.css';

html {
  background: var(--primaryColor);
  font-size: 62.5%;
  overflow-y: scroll;
}

body {
  font-size: var(--fontSizeM);
  margin: 0;
}

body,
#___gatsby {
  min-height: 100vh;
}

a {
  color: var(--secondaryColor);
}

a:hover {
  color: var(--secondaryColor);
}

h1 {
  font-size: var(--fontSizeXL);
  font-weight: normal;
}

@media only screen and (min-width: 700px) {
  h1 {
    font-size: var(--fontSizeXXL);
    line-height: var(--fontSizeXXL);
  }
}

h2,
h3 {
  font-weight: normal;
}

main {
  margin: 5rem 0;
}

section {
  margin-bottom: 3rem;
}
