:root {
  --defaultWidth: 1240px;
  --defaultMargin: 1rem;
  --defaultPadding: 1rem;

  --fontSizeS: 1.5rem;
  --fontSizeM: 1.8rem;
  --fontSizeL: 2.4rem;
  --fontSizeXXL: 6rem;

  /**
   * Colors
   */
  --primaryColor: #fff;
  --secondaryColor: #0d0d0d;
  --tertiaryColor: #f2f2f2;
}
