:root {
  --defaultWidth: 1240px;
  --defaultMargin: 1rem;
  --defaultPadding: 1rem;

  --fontSizeMedium: 1rem; /* Assuming 16px as a default size */
  --fontSizeSmall: calc(var(--fontSizeMedium) * 0.875); /* 14px */
  --fontSizeSemiLarge: calc(var(--fontSizeMedium) * 1.125); /* 18px */
  --fontSizeLarge: calc(var(--fontSizeMedium) * 1.5); /* 24px */
  --fontSizeXXL: calc(var(--fontSizeMedium) * 3.75); /* 60px */

  /**
   * Colors
   */
  --primaryColor: #fff;
  --secondaryColor: #0d0d0d;
  --tertiaryColor: #f2f2f2;
}
