---
import { getCollection } from "astro:content";

import Layout from "../components/Layout.astro";
import Posts from "../components/Posts.astro";
import CardAbout from "../components/CardAbout.astro";
import Time from "../components/Time.astro";

const newsData = await getCollection("news");
const news = newsData.sort((a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()).slice(0, 2);
const postsData = await getCollection("blog");

const posts = postsData.reverse().slice(0, 6);
---

<Layout>
  <div class="maxcontent">
    <CardAbout />
  </div>

  {
    news.length > 0 && (
      <>
        <h1 id="news">Akcie</h1>
        <div class="events maxcontent">
          {news.map((post) => (
            <article class="line">
              <a href={`/akcie/${post.slug}`}>
                {post.data.title}
              </a>
              <span>{post.data.location || "PPKE"}</span>
              <Time
                class="text-end"
                date={post.data.pubDate}
                options={{ dateStyle: "short" }}
              />
            </article>
          ))}
          <article class="line">
            <a href="/akcie">Všetky akcie</a>
          </article>
        </div>
      </>
    )
  }

  <h1>Blog</h1>
  <Posts posts={posts} class="maxcontent">
    <a href="/blog">Všetky príspevky</a>
  </Posts>
</Layout>

<style>
  .events {
    container-type: inline-size;
  }

  .events article {
    font-weight: 300;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1em;
    align-items: center;

    @container (min-width: 700px) {
      grid-template-columns: 7fr 2fr 10ch;
    }

    time {
      font-size: 0.8em;
    }
  }

  .events article :global(a) {
    grid-column: 1 / -1;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 400;

    @container (min-width: 700px) {
      grid-column: auto;
    }

    &::after {
      content: "";
      inset: 0;
      position: absolute;
    }
  }

  .events article:has(a:first-child):has(a:last-child) :global(a) {
    font-weight: bold;
  }
</style>
