---
import Layout from "../components/Layout.astro";

const title = "Už sme skoro tam...";
---

<Layout title={title}>
  <meta name="robots" content="noindex" slot="meta" />

  <h1 class="maxcontent">{title}</h1>
  <p>Potrebujeme potvrdiť tvoju emailovú adresu.</p>
  <p>
    Na dokončenie prihlásenia, prosím, klikni na odkaz v emaile, ktorý sme ti
    práve poslali.
  </p>
</Layout>
