---
import Layout from "../components/Layout.astro";

const title = "Prihlásenie bolo úspešné";
---

<Layout title={title}>
  <meta name="robots" content="noindex" slot="meta" />

  <h1 class="maxcontent">{title}</h1>
  <p>Odber newslettera je úspešne potvrdený.</p>
  <p>Ďakujeme</p>
</Layout>
