---
import Layout from "../components/Layout.astro";
import Container from "../components/Container.astro";

const title = "Prihlásenie bolo úspešné";
---

<Layout title={title}>
  <meta name="robots" content="noindex" slot="meta" />

  <Container>
    <h1>{title}</h1>
    <p>Odber newslettera je úspešne potvrdený.</p>
    <p>Ďakujeme</p>
  </Container>
</Layout>
