@import '../styles/variables.css';

.button {
  background-color: var(--secondaryColor);
  border-radius: 100px;
  color: var(--primaryColor);
  display: inline-block;
  padding: 10px 30px;
  text-transform: lowercase;
  transition: background-color ease-in 0.25s;
}

.button:hover {
  color: var(--primaryColor);
  background-color: darkcyan;
  text-decoration: none;
}
