---
import { Image } from "astro:assets";
import src from "../../public/space/hero-cowork.jpg";

import Card from "./Card.astro";
---

<Card>
  <Image src={src} alt="coworking" width={1200} slot="image" />
  <Fragment slot="title">Coworking</Fragment>
  <p>
    Cowork v Paralelnej Polis je priestor, ktorý cez deň hostí coworkerov a na
    niektoré večery sa mení na prednáškovú miestnosť s kapacitou cca 30 ľudí po
    pridaní miest na sedenie, alebo 18-20 ľudí bez úprav v priestore.
  </p>
  <a href="/coworking">Viac o coworkingu</a>
</Card>
