---
const { class: className } = Astro.props;
---

<div class:list={["container", className]}>
  <slot />
</div>

<style>
  .container {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 30px;
  }
</style>
