---
import { data } from "../data";
---

<div>
  <ul>
    {
      Object.entries(data.nodes).map(([key, node]) => (
        <li>
          <strong>{key} node</strong>: {node.mainnet.url}
        </li>
      ))
    }
  </ul>
  <ul>
    <li>
      <strong>
        <a
          href="0387001685e8e80c0b4bced187335b38f90103be0eca541c5fd99bb83db7a30a46@88.212.32.151:9735"
        >
          LN node
        </a>
      </strong>
    </li>
    <li>
      <strong>
        <a
          href="0387001685e8e80c0b4bced187335b38f90103be0eca541c5fd99bb83db7a30a46@voaignjkisfoogkbewnlwyhvl7752jhgvcmwbq5wjmwjwpgrvt6tsoid.onion:9735"
        >
          LN TOR node
        </a>
      </strong>
    </li>
  </ul>
</div>

<style>
  div {
    display: flex;
    gap: 32px;
    flex-direction: column;

    @media (min-width: 400px) {
      flex-direction: row;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    word-break: break-all;
  }
</style>
