@import '../styles/variables.css';

.footer {
  background-color: var(--tertiaryColor);
  font-size: var(--fontSizeS);
  padding: var(--defaultPadding);
  padding-top: 5rem;
}

.author {
  font-weight: 200;
}
