.top {
  background: #f8fafc;
}

.instaImage {
  filter: grayscale(1);
  transition: filter 0.25s ease-in;
}

.instaImage:hover {
  filter: grayscale(0);
}

@media (min-width: 992px) {
  .topStripe {
    background: linear-gradient(to right, #f8fafc 66%, #8795a1 66%);
  }
}
