@import '../styles/variables.css';

.footer {
  background-color: var(--tertiaryColor);
  font-size: var(--fontSizeS);
  padding: var(--defaultPadding);
}

.container {
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 10rem;
  padding-top: 5rem;
}

.author {
  font-weight: 200;
}
