@import '../styles/variables.css';

.button {
  font-size: var(--fontSizeS);
  text-transform: uppercase;
}

.activeButton {
  font-weight: bold;
}

@media only screen and (min-width: 750px) {
  .button {
    font-size: var(--fontSizeM);
    padding: var(--defaultPadding);
  }
}
