---
const { post } = Astro.props;

const { Content } = await post.render();
---

<section class="card-container">
  <div class="card">
    <Content />
  </div>
</section>

<style>
  .card-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
  }

  .card {
    outline: 1px solid black;
    outline-offset: -1px;
    box-shadow: 5px 5px 0 black;
    transition:
      box-shadow 0.2s ease,
      translate 0.2s ease;
    translate: -2px -2px;
    padding: 1em;

    &:hover {
      box-shadow: 9px 9px 0 black;
      translate: -5px -5px;
    }
  }
</style>
