---
import Time from "../components/Time.astro";

const { post } = Astro.props;

const { title, pubDate } = post.data;
const { Content } = await post.render();
---

<article class="w-full px-2 mb-4">
  <!-- Dátum pridania: <Time date={pubDate} /> -->
  <h2>{title}</h2>
  <Content />
</article>
