.link {
  flex: 1;
}

.link::after {
  color: black;
  display: block;
  font-size: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.prev {
  composes: link;
}

.prev::after {
  content: '◂';
  left: -0.75rem;
}

.next {
  composes: link;
  text-align: right;
}

.next::after {
  content: '▸';
  right: -0.75rem;
}
