.wrapper {
  border-top: 1px solid var(--tertiaryColor);
  display: flex;
  margin-top: 5rem;
  padding: 1rem 0;
}

.link {
  flex: 1;
}

.prev {
  composes: link;
}

.next {
  composes: link;
  text-align: right;
}

.date {
  color: var(--greyDark);
  font-size: 0.875rem;
}
