@import '../styles/variables.css';

.social {
  padding: 2em 0;
}

.site {
  font-size: var(--fontSizeL);
  font-weight: 300;
  margin-right: 0.25em;
}

.site:not(:last-child):after {
  content: ',';
  display: inline-block;
}
