html {
  font-size: 16px;
  font-family: 'system-ui', 'BlinkMacSystemFont', '-apple-system', 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', 'sans-serif';
  overflow-y: scroll;
}

body {
  color: #212529;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  overflow-wrap: break-word;
}

body,
#___gatsby {
  min-height: 100vh;
}

a {
  color: #212529;
  text-decoration: none;
}

a:hover {
  background-image: linear-gradient(180deg, transparent 70%, #606f7b 0);
  text-decoration: none;
}

p a,
ul a,
ol a {
  background-image: linear-gradient(180deg, transparent 70%, #b8c2cc 0);
}

h1 {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 1.5rem;
}

h2,
h3 {
  font-weight: normal;
  margin-bottom: 1em;
}

p {
  margin-bottom: 2em;
}

blockquote {
  color: #606f7b;
  font-size: 1.25rem;
  font-style: italic;
}

blockquote p:first-of-type::before {
  content: open-quote;
}

blockquote p:last-of-type::after {
  content: close-quote;
}

ul,
ol {
  margin-bottom: 2em;
}

section {
  margin-bottom: 2.5rem;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }

  h1 {
    font-size: 3.75rem;
    line-height: 1;
  }
}
